<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.QrcodeMapper">

    <resultMap id="BaseResultMap" type="com.zoctan.api.model.pay.QrcodeItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="money" jdbcType="BIGINT" property="money"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="qrcode" jdbcType="VARCHAR" property="Qrcode"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="expire_time" jdbcType="INTEGER" property="expireTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


</mapper>